{
    "hosts" : {
       "https://<confluence-instance>.atlassian.net": {
          "product" : "confluence",
          "username" : "<username>",
          "password" : "<API Token>"
       }
    }
 }